@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200;8..144,400&display=swap");
.optional_detail {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-between;
}
.optional_detail button {
  color: #ffff;
  font-size: 1.5rem;
  flex: 1;
}
.optional_detail h2 {
  color: #ffff;
  font-size: 1.5rem;
  flex: 4;
}

.detail_forecast_container {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0px;
  width: 90%;
}

.detail_forecast_title {
  display: grid;
  grid-template-columns: repeat(4, minmax(60px, 1fr));
  grid-template-rows: 40px;
  grid-column-gap: 0px;
  margin: 0;
  order: -1;
}

.item_title {
  font-size: 0.8rem;
  margin: auto;
}

.detail_forecast {
  display: grid;
  width: 100%;
}
.forecast_body {
  font-size: 0.7rem;
  display: grid;
  grid-template-columns: repeat(4, minmax(60px, 1fr));
  grid-template-rows: 60px 20px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100%;
}

.forecast_body:nth-of-type(even),
.detail_forecast_title {
  background: rgba(217, 217, 217, 0.1);
}
.hour_body {
  grid-area: 1 / 1 / 3 / 2;
  display: grid;
  align-content: center;
  margin: auto;
}
.temp_body {
  grid-area: 1 / 2 / 3 / 3;
  margin: auto;
}

.hourIcon_body {
  grid-area: 1 / 3 / 2 / 4;
  margin: auto;
}
.hourPop_body {
  grid-area: 2 / 3 / 3 / 4;
  margin: auto;
  font-size: 0.8rem;
}
.wind_body {
  grid-area: 1 / 4 / 2 / 5;
  margin: auto;
}
.hourWindSpeed_body {
  grid-area: 2 / 4 / 3 / 5;
  margin: auto;
  font-size: 0.8rem;
}
.hourPressure_body {
  grid-area: 1 / 5 / 3 / 6;
  display: grid;
  align-content: center;
  margin: auto;
}

#wind_dir {
  width: 20px;
  height: 20px;
  filter: invert(100%);
}
#hour_icon {
  width: 60px;
  height: 60px;
}
#desktop_title {
  display: none;
}

@media screen and (min-width: 600px) {
  .detail_forecast_container {
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    grid-template-rows: 1;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background: rgba(217, 217, 217, 0.1);
    border-radius: 20px;
    width: 90%;
    margin: auto;
    align-content: center;
  }

  .detail_forecast_title {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 1fr);
    width: 120px;
    align-self: auto;
  }

  .detail_forecast_title h3 {
    margin: 5px;
    text-align: left;
    margin: auto;
    margin-left: 20px;
    width: 100%;
  }

  .item_title {
    grid-column-start: 1;
    display: grid;
    font-size: 0.9rem;
    width: 100%;
    margin-left: 20px;
  }

  .forecast_body:nth-of-type(even),
  .detail_forecast_title {
    background: rgba(217, 217, 217, 0);
  }
  .detail_forecast {
    display: grid;
    grid-template-columns: repeat(8, minmax(45px, auto));
    width: 100%;
    margin: 0;
  }
  .forecast_body {
    font-size: 9px;
    display: grid;
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 0%;
  }

  .hour_body {
    grid-area: 1 / 1 / 2 / 2;
    margin: auto;
    display: grid;
    align-items: center;
  }
  .hourIcon_body {
    grid-area: 2 / 1 / 3 / 2;
    margin: auto;
  }

  .temp_body {
    grid-area: 3 / 1 / 4 / 2;
    margin: auto;
  }

  .tempFeels_body {
    grid-area: 4 / 1 / 5 / 2;
    margin: auto;
  }

  .hourPop_body {
    grid-area: 6 / 1 / 7 / 2;
    margin: auto;
    font-size: 1rem;
  }
  .hourPressure_body {
    grid-area: 9 / 1 / 10 / 2;
    margin: auto;
    padding: 5px;
  }
  .humidity_body {
    grid-area: 5 / 1 / 6 / 2;
    margin: auto;
  }
  .wind_body {
    grid-area: 7 / 1 / 8 / 2;
    margin: auto;
  }
  .hourWindSpeed_body {
    grid-area: 8 / 1 / 9 / 2;
    margin: auto;
    font-size: 1rem;
  }

  #wind_dir {
    width: 20px;
    height: 20px;
    align-self: center;
  }
  #mobile_title {
    display: none;
  }
  #desktop_title {
    display: grid;
  }
}
