@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200;8..144,400&display=swap");

@media screen and (max-width: 1024px) {
  .section_detail_Weekly {
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 0.09rem;
  }
  .weekly_forecast {
    display: flex;
    text-align: center;
    align-items: none;
    overflow-y: scroll;
    background-color: rgba(203, 198, 214, 0.5);
    border-radius: 2%;
    margin-top: 1rem 0px;
    justify-content: center;
  }

  .weekly-item {
    color: #fff;
    font-size: 10px;
  }
}

.weekly_forecast {
  display: flex;
  text-align: center;
  color: #fff;
  font-size: 12px;
  background-color: rgb(217, 217, 217, 10%);
  margin: 5%;
  padding: 2%;
  margin-top: 1rem;
  border-radius: 20px;
}

.weekly-item {
  margin: 5px 10px;
}

@media screen and (max-width: 900px) {
  .weekly_forecast {
    justify-content: start;
    overflow-y: scroll;
    border-radius: 2%;
  }
}
@media screen and (min-width: 600px) {
  #mobile_title {
    display: none;
  }
  .section_detail_Weekly {
    border: none;
  }
}
