@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200;8..144,400&display=swap');

@media screen and (min-width: 1024px){
.weekly_forecast {
        display: flex;
        justify-content: space-around;
        text-align: center;
        color: #fff;
        font-family: 'Roboto Flex';
        background-color: rgb(217, 217, 217, 10%);
        border-radius: 5%;
        font-size: 20px;
        overflow-x: auto;
    }
}

body{
    background-color: #514E81;
}
.weekly_forecast {
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: #fff;
    font-family: 'Roboto Flex';
    font-size: 24;
    background-color: rgb(217, 217, 217, 10%);
}
