.sun_moon_main {
    color: white;
    display: flex;
    flex-wrap: nowrap;
    margin-top: 5%;
}
.sun {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
}
.moon {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.sun img {
    width: 45%;
}
.moon img {
    width: 55%;
}
.info {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.info_sun, .info_moon {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 60%;
    border-top: 0.1em solid;
}
.rise {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
}
.down {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
}

@media screen and (max-width: 1023px) {
    .sun_moon_main {
        display: flex;
        flex-wrap: wrap;
        margin-top: 10%;
    }
    .sun, .moon {
        margin-bottom: 10%;
    }
    .sun img {
        width: 55%;
    }
    .moon img {
        width: 65%;
    }
    .info_sun, .info_moon {
        width: 60%;
    }
}
