@font-face {
  font-family: "RobotoFlex";
  src: url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&display=swap');
}

body {
  margin: 0;
  font-family: 'RobotoFlex', sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(116, 113, 185);
  background: linear-gradient(90deg, rgba(116, 113, 185, 1) 0%, rgba(86, 83, 135, 1) 20%, rgba(81, 78, 129, 1) 50%, rgba(90, 87, 139, 1) 80%, rgba(116, 113, 185, 1) 100%);
  /* background-image: linear-gradient(to right, rgba(81, 78, 129, 0.77), rgba(81, 78, 129, 1), rgba(81, 78, 129, 1),rgba(81, 78, 129, 0.77)); */
  backdrop-filter: blur(100px);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
}

h1 {
  color: white;
  font-size: 20px;
  font-style: normal;

}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
} */