@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200;8..144,400&display=swap");

    
.funny-advice-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Roboto Flex';
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
}
.advice-bell{
    color: white;
    width: 18px;
    height: 18px;
    -webkit-filter: invert(1);
}

@media screen and (min-width: 600px) {
    .funny-advice-card {
        font-size: 1.2em;
        font-weight: 200;
        line-height: 28.13px;
    }
    .advice-bell {
        width: 22px;
        height: 22px;
    }
}
@media screen and (min-width: 1023px) {
    .funny_advice_mobile{
        display: none;
    }
    .funny-advice-card {
        font-size: 1.5em;
        font-weight: 200;
        line-height: 28.13px;
        margin-top: 2.8rem;
    }
    .advice-bell {
        width: 26px;
        height: 26px;
    }
    
}